{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(89, 43%, 51%);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    padding: 20px;
}
h2{
    text-align: center;
    padding: 20px;
}
.register
{
    background-color: aliceblue;
    width: 500px;
    padding: 25px;
    margin: 25px auto 0;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);

}
.register h2{
    background-color: azure;
    color:rgb(1,0,0);
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px dotted #333;
}

.input-group{
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}
.input-box{
    width: 100%;
    margin-right: 12px;
    position: relative;
}


.name{
    width: 100%;
    border: none;
    border-radius: 3px;
    outline: 0px;
    padding: 7px;
}
#ph{
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 3px;
    outline: 0;
}
#num{
    width:100%;
    padding: 7px;
    border: none;
    border-radius: 3px;
    outline: 0;
}
.sub1 {
    background-color: transparent;
    border:none;
    background: black;
    color: white;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.35s ease;
}
button:hover{
    cursor: pointer;
    background: #bbbbbb;

}